.media {
  position: relative;

  video {
    cursor: pointer;
  }
}

.local-video {
  display: flex;
  border-radius: 4px;

  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 100;

  video {
    height: 240px;
    border-radius: 4px;
  }

  @media only screen and (max-width: 375px) {
    & {
      position: fixed;
      right: 4px;
      top: 390px;
      z-index: 100;
    }
  }
}

.remote-videos {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }

  video {
    max-width: calc(100% / 4);
    max-height: calc(100% / 3 - 4px);
    object-fit: cover;

    margin: 2px;
    border-radius: 4px;
  }

  @media only screen and (max-width: 375px) {
    video {
      max-width: 375px;
    }

    overflow-y: auto;
  }
}
