.media {
  position: relative;

  video {
    cursor: pointer;
  }
}

.local-video {
  display: flex;
  border-radius: 4px;

  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 100;

  video {
    height: 240px;
    border-radius: 4px;
  }
}

.remote-videos {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  video {
    max-width: 555px;

    margin: 2px;
    border-radius: 4px;

    @media only screen and (max-width: 375px) {
      max-width: 375px;
    }
  }
}
