.container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    width: 240px;
    height: fit-content;

    padding: 10px;
    margin-bottom: 100px;

    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    input {
      width: 100%;
      outline: none;
      margin-bottom: 5px;
    }

    button {
      width: 100%;
    }
  }
}
